<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>com.takeout.intergration.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchDataServlet</servlet-name>
        <servlet-class>com.takeout.intergration.FetchDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchDataServlet</servlet-name>
        <url-pattern>/fetchdata</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddData</servlet-name>
        <servlet-class>com.takeout.intergration.AddDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddData</servlet-name>
        <url-pattern>/adddata</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Judge</servlet-name>
        <servlet-class>com.takeout.intergration.JudgeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Judge</servlet-name>
        <url-pattern>/judge</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Move</servlet-name>
        <servlet-class>com.takeout.intergration.MoveDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Move</servlet-name>
        <url-pattern>/takeout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>com.takeout.intergration.FetchHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/getHistory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePwd</servlet-name>
        <servlet-class>com.takeout.intergration.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePwd</servlet-name>
        <url-pattern>/changepwd</url-pattern>
    </servlet-mapping>
</web-app>