<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>外卖柜子管理中心</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.25.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.6/lib/index.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.15.6/lib/theme-chalk/index.css">

</head>

<body>
  <div id="app">
    <el-container>
      <el-header style="text-align: right">
        <h2>外卖柜子管理中心</h2>

        <div style="width: 120px; display: flex; justify-content: space-between">
          <el-button type="danger" plain @click="sign_out">登出</el-button>
        </div>
      </el-header>
      <el-container>
        <el-aside width="200px">
          <el-menu default-active="1">
            <el-menu-item index="1" @click="tab=1">
              <template slot="title">外卖柜总览</template>
            </el-menu-item>
            <el-menu-item index="2" @click="tab=2">
              <template slot="title">查询筛选</template>
            </el-menu-item>
            <el-menu-item index="3" @click="tab=3">
              <template slot="title">密码修改</template>
            </el-menu-item>
          </el-menu>
        </el-aside>
        <el-container>
          <el-main>
            <el-page-header v-if="tab===1" @back="switch_page" :content="step ? '柜子具体信息': '选择一个空柜查看'"></el-page-header>
            <!-- cabinet -->
            <div id="cabinet" v-if="step===0&&tab===1">
              <div v-for="box in 30" class="takeout-box box" @click="select" v-if="box && loaded"
                :style="{backgroundColor: boxColor(box)}">{{box}}</div>
            </div>
            <!-- takeout_info -->
            <div id="takeout_info" v-if="step===1&&tab===1">
              <el-card class="box-card">
                <div slot="header" class="clearfix">
                  <span>第 {{ curNum }} 号柜</span>
                </div>

                <el-descriptions title="柜子信息" :column="2" border>
                  <el-descriptions-item label="柜号">{{ curNum }}</el-descriptions-item>
                  <el-descriptions-item label="状态">
                    <el-tag :type="boxStatusType">{{ boxStatusTitle }}</el-tag>
                  </el-descriptions-item>
                  <el-descriptions-item label="存餐码" v-if="boxLinks[curNum] !== undefined">
                    <el-tag>{{ items[boxLinks[curNum]].phoneNum.substring(7, 11)
                      }}</el-tag>
                  </el-descriptions-item>
                  <el-descriptions-item label="用户手机号码" v-if="boxLinks[curNum] !== undefined">{{
                    items[boxLinks[curNum]].phoneNum
                    }}</el-descriptions-item>
                  <el-descriptions-item label="存放时间" :span="2" v-if="boxLinks[curNum] !== undefined">{{ getTime }}
                  </el-descriptions-item>
                </el-descriptions>
                <el-divider content-position="left">所有操作</el-divider>
                <el-button @click="openFront" round>打开前柜门</el-button>
                <el-button @click="openBack" round>打开后柜门</el-button>
                <el-button @click="sendMessage" round :disabled="boxLinks[curNum] === undefined">给该用户发送短信</el-button>
              </el-card>
            </div>
            <div id="inquiry" v-if="tab===2">
              <span>选择柜子的状态以筛选：</span>
              <el-select v-model="selectedStatus">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
              <el-table :data="checkList" stripe style="width: 602px;margin: 30px auto" border>
                <el-table-column type="index" width="100" label="#"></el-table-column>
                <el-table-column prop="num" label="柜门号" width="500"></el-table-column>
              </el-table>
            </div>
            <div id="modify_pwd" v-if="tab===3">
              <el-card class="box-card">
                <div slot="header" class="clearfix">
                  <span>请输入旧密码和新密码</span>
                  <el-button style="float: right; padding: 3px 0" type="text" @click="form.newPwd='';form.oldPwd=''">
                    清空输入</el-button>
                </div>

                <el-form ref="form" :model="form">
                  <el-form-item label="旧密码">
                    <el-input id="oldPwd" v-model="form.oldPwd" style="float: left; width: 80%" @focus="focusInput=1"
                      show-password>
                    </el-input>
                  </el-form-item>
                  <el-form-item label="新密码">
                    <el-input id="newPwd" v-model="form.newPwd" style="float: left; width: 80%" @focus="focusInput=2"
                      show-password>
                    </el-input>
                  </el-form-item>
                </el-form>
                <!-- keyboard -->
                <div id="keyboard">
                  <div class="key box" @click="input_number">1</div>
                  <div class="key box" @click="input_number">2</div>
                  <div class="key box" @click="input_number">3</div>
                  <div class="key box" @click="input_number">4</div>
                  <div class="key box" @click="input_number">5</div>
                  <div class="key box" @click="input_number">6</div>
                  <div class="key box" @click="input_number">7</div>
                  <div class="key box" @click="input_number">8</div>
                  <div class="key box" @click="input_number">9</div>
                  <div class="key box" @click="backspace">删除</div>
                  <div class="key box" @click="input_number">0</div>
                  <div class="key box" @click="submitPwd">提交</div>
                </div>
              </el-card>
            </div>
          </el-main>
          <el-footer style="background-color: white; justify-content: space-evenly">
            <span v-if="!step&&tab===1" style="color: #909399">#空柜子</span>
            <span v-if="!step&&tab===1" style="color: #409eff">#已占用</span>
            <span v-if="!step&&tab===1" style="color: #f56c6c">#超时外卖</span>
          </el-footer>
        </el-container>
      </el-container>
    </el-container>
  </div>
</body>

<script>
  const url = "http://localhost";
  const port = "8080";
  const statusTitle = ["空闲", "已使用", "已超时"];
  const boxStatus = ["info", "", "danger"];
  const colorPad = ["#e9e9eb", "#c6e2ff", "#fde2e2"]; // empty, used, timeout
  //创建Vue实例,得到 ViewModel
  const vm = new Vue({
    el: "#app",
    data: {
      loaded: false,
      user: { name: "Robot_1" },
      boxLinks: [],
      items: [
        {
          id: undefined,
          phobeNum: undefined,
          location: undefined,
          storageTime: undefined,
          status: undefined,
        },
      ],
      form: {
        oldPwd: '',
        newPwd: ''
      },
      options: [{
        value: 1,
        label: '空柜'
      }, {
        value: 2,
        label: '已存柜'
      }, {
        value: 3,
        label: '已存且满12小时未取出'
      }],
      selectedStatus: 1,
      clientHeight: "",
      focusInput: 1,
      step: 0,
      tab: 1,
      curNum: 0,
    },
    created() {
      // axios 接收数据
      this.getTakeoutData();
    },
    mounted() {
      // 固定 footer 在页面底部
      this.clientHeight = document.documentElement.clientHeight;
      document.querySelector(".el-main").style.height =
        this.clientHeight - 120 + "px";
      window.onresize = function temp() {
        this.clientHeight = document.documentElement.clientHeight;
        this.clientHeight = this.clientHeight - 120 + "px";
        console.log(this.clientHeight);
        document.querySelector(".el-main").style.height = clientHeight;
      };
      // 倒计时
      let x = setInterval(() => {
        for (let i = 1; i < this.items.length; i++) {
          if (this.items[i].status) break;
          else {
            this.items[i].status =
              new Date().getTime() - Number(this.items[i].storageTime) < 12 * 3600000 ? 0 : 1;
          }
        }
      }, 1000); // 刷新间隔
      // 自动登出
      const maxTime = 15; // seconds
      var time = maxTime;
      document.body.onkeydown = () => {
        time = maxTime;
      }
      document.body.onmousedown = () => {
        time = maxTime;
      }
      document.body.onmousemove = () => {
        time = maxTime;
      }
      var y = setInterval(() => {
        time--;
        if (time <= 0) {
          clearInterval(y);
          alert('您已经长时间没有操作了，将自动退出到首页');
          window.location.replace('/');
        }
      }, 1000)
    },
    methods: {
      async getTakeoutData() {
        let res = await axios({
          method: "get",
          url: url + ":" + port + "/takeout_bin/fetchdata",
        });
        this.loaded = true; // 加载完毕
        let data = res.data.data;
        vm.items.length = 1;
        for (let i = 0; i < data.length; i++) {
          let item = new Object();
          item.id = data[i].id;
          item.phoneNum = data[i].phoneNum;
          item.storageTime = data[i].date;
          item.location = data[i].location;
          item.status = new Date().getTime() - Number(item.storageTime) < 12 * 3600000 ? 0 : 1;
          this.items.push(item);
        }
        this.boxLinks.length = 31;
        for (let i = 1; i < this.items.length; i++) {
          this.boxLinks[this.items[i].location] = i;
        }
      },
      switch_page(f) {
        if (this.step) this.step--; //返回选择页面
      },
      select(e) {
        let element = e.target;
        this.curNum = element.innerHTML;
        //element.classList.add('selected'); // 测试多选，以后在管理员页面使用
        this.step++; // 进入下一步，输入存餐码
      },
      open(n) {
        let msg = n ? "外侧柜门已经打开" : "内侧柜门已经打开";
        alert(msg);
      },
      input_number(e) {
        let text = e.target.innerHTML;
        if (this.focusInput === 1) {
          this.form.oldPwd += text;
        }
        else if (this.focusInput === 2) {
          this.form.newPwd += text;
        }
      },
      backspace() {
        if (this.focusInput === 1) {
          this.form.oldPwd = this.form.oldPwd.substring(0, this.form.oldPwd.length - 1);
        }
        else if (this.focusInput === 2) {
          this.form.newPwd = this.form.newPwd.substring(0, this.form.newPwd.length - 1);
        }
      },
      submitPwd() {
        let res = axios({
          method: "post",
          url: url + ':' + port + '/takeout_bin/changepwd',
          data: {
            oldpwd: this.form.oldPwd,
            newpwd: this.form.newPwd
          },
        })
          .then((response) => {
            let msg = response.data.message;
            if (msg === 'success') {
              alert("修改成功，请重新登陆");
              window.location.replace('/');
            }
            else {
              alert("原密码错误，请重新输入");
              this.form.newPwd = '';
              this.form.oldPwd = '';
            }
          })
      },
      openFront() {
        alert("第" + this.curNum + "号柜前柜门已经打开");
      },
      openBack() {
        alert("第" + this.curNum + "号柜后柜门已经打开");
      },
      sendMessage() {
        alert("短信以发送至用户手机");
      },
      sign_out() {
        window.location.replace("/");
        // 删除登录信息 TODO
      },
    },
    computed: {
      boxColor() {
        return function (n) {
          if (this.boxLinks[n] === undefined) return colorPad[0];
          else if (this.items[this.boxLinks[n]].status)
            return colorPad[2];
          else return colorPad[1];
        };
      },
      getTime() {
        let time = new Date(
          Number(this.items[this.boxLinks[this.curNum]].storageTime)
        );
        let y = time.getFullYear(),
          m = time.getMonth() + 1,
          d = time.getDate();
        return (y + "-" + (m < 10 ? "0" + m : m) + "-" + (d < 10 ? "0" + d : d) + " " +
          time.toTimeString().substr(0, 8)
        );
      },
      boxStatusType() {
        if (this.boxLinks[this.curNum] === undefined) return boxStatus[0];
        else if (this.items[this.boxLinks[this.curNum]].status)
          return boxStatus[2];
        else return boxStatus[1];
      },
      boxStatusTitle() {
        if (this.boxLinks[this.curNum] === undefined) return statusTitle[0];
        else if (this.items[this.boxLinks[this.curNum]].status)
          return statusTitle[2];
        else return statusTitle[1];
      },
      checkList() {
        let arr = [];
        if (this.selectedStatus === 1) {
          for (let i = 1; i <= 30; i++) {
            if (this.boxLinks[i] === undefined) arr.push({ num: i });
          }
        }
        else if (this.selectedStatus === 2) {
          for (let i = 1; i <= 30; i++) {
            if (this.boxLinks[i] !== undefined && this.items[this.boxLinks[i]].status === 0)
              arr.push({ num: i });
          }
        }
        else if (this.selectedStatus === 3) {
          for (let i = 1; i <= 30; i++) {
            if (this.boxLinks[i] !== undefined && this.items[this.boxLinks[i]].status === 1)
              arr.push({ num: i });
          }
        }
        return arr;
      }
    },
  });
</script>
<style>
  * {
    font-size: 20px !important;
  }

  html {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC",
      "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }

  body {
    margin: 0;
    overflow: hidden;
  }

  .el-button {
    font-size: 20px !important;
  }

  .el-header,
  .el-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b3d8ff;
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-aside {
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    color: #333;
    text-align: center;
  }

  #cabinet {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
  }

  .takeout-box {
    width: 15%;
    height: 100px;
    border: 1px solid black;
    line-height: 100px;
  }

  .el-main {
    overflow: auto;
  }

  .box {
    font-size: 30px !important;
  }

  .box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .takeout-box .selected {
    box-shadow: inset 1px 1px 10px 2px #409eff;
  }

  .el-card {
    margin: 30px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both;
  }

  .box-card {
    width: 600px;
  }

  .el-divider__text {
    color: #dcdfe6;
  }

  #keyboard {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
  }

  .key {
    width: calc(100% / 3 - 2px);
    height: 80px;
    border: 1px solid black;
    line-height: 80px;
    user-select: none;
  }
</style>

</html>